body {
  margin-top: 180px;
  background: linear-gradient(90deg, #e9edc9 60%, #edf3c361 40%);
}
h1 {
  font-family: "Nixie One", cursive;
  font-weight: bold;
  font-size: 80px;
  display: inline-block;
}
h2 {
  font-family: "Gruppo", cursive;
  font-size: 40px;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 4.7s steps(100, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.start-btn {
  border: 4px solid #acb888;
  border-radius: 14px;
  background: #fefae0;
  padding: 10px 40px;
  font-family: "Gruppo", cursive;
  font-weight: bold;
  font-size: 20px;
  color: #6c754f;
}
.start-btn:hover {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
  border: 4px solid #fefae0;
  color: #6c754f;
}
