:root {
  --primary-color: #d7e3fc;
  --highlight-color: #a1b7eb;
  --header-font: "Nixie One", cursive;
  --paragraph-font: "Gruppo", cursive;
}
body {
  background: #edf2fb;
}

h1 {
  font-family: var(--header-font);
}
h2,
p {
  font-family: var(--paragraph-font);
}
p {
  font-size: 18px;
}
.hero {
  background-image: radial-gradient(
    ellipse farthest-corner at 2% 120%,
    var(--primary-color) 70%,
    #edf2fb 70%
  );
  padding: 180px 0 200px 100px;
}
h1 {
  font-weight: bold;
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
.text-justify {
  text-align: justify;
}
.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 4.7s steps(100, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.round-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 14px;
  font-family: var(--paragraph-font);
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease-in-out;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  line-height: 100px;
}
.round-btn:hover,
.round-btn:focus {
  box-shadow: inset 0 -20em 0 0 var(--highlight-color);
  color: white;
}
.project-description {
  margin: 30px 0 0 40px;
  text-align: center;
}
p {
  line-height: 1.6;
  font-weight: 600;
}
.project-btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  font-family: var(--paragraph-font);
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s ease-in-out;
  border-radius: 100px;
}
.project-btn:hover,
.ptoject-btn:focus {
  box-shadow: inset 0 -4em 0 0 var(--highlight-color);
  color: white;
}

.about-hero h1 {
  font-size: 68px;
}
.about-hero h2 {
  font-size: 30px;
}
.personal-photo {
  width: 60%;
  margin-left: 60px;
}
@media (max-width: 990px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-left: 0;
  }
  .hero h1 {
    font-size: 26px;
  }
  .hero h2 {
    font-size: 14px;
  }
  .hero {
    text-align: center;
  }
  .project-description p {
    font-size: 14px;
    padding-right: 6px;
  }
  .about-hero h1 {
    font-size: 40px;
  }
  .about-hero h2 {
    font-size: 26px;
  }
  .about-hero p {
    font-size: 18px;
  }
}
